    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">
    <title>Nombres Favoritos</title>
</head>

<body>

    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Laboratorio</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/nombres/nuevo">Agregar nombre</a></li>
                <li><a href="/nombres">Lista nombres favoritos</a></li>
          </ul>

        </div>
    </nav>