<%- include('includes/head.ejs') %>
<!DOCTYPE html> 
<html>
    <head> 
        <title>Laboratorio</title> 
    </head>
    <body> 
        <h1 id="principal">Nombres favoritos</h1> 
        <br><br> 
        <% for(let i in Nombres){ %>
            <ul>
                <li> <%= Nombres[i].t_nombre %> </li>
            </ul>
        <% } %>
        <br><br> 
    </body>
</html>
<%- include('includes/foot.ejs') %>